*{
  font-family: cambria;
}
body{
  color: #333;
  background: #f9f9f9;
  width: 600px;
  margin: auto;
}
ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.project-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
project{
  border: 1px solid #999;
  border-radius: 8px;
  padding: 8px;
}